<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akashwebapps.elephantcountry">

    <application
        android:allowBackup="true"
        android:icon="@drawable/profile"
        android:label="@string/app_name"
        android:roundIcon="@drawable/profile"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElephantCountry">
        <activity android:name=".StatisticActivity"></activity>
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".TrendingActivity" />
        <activity android:name=".AlertActivity" />
        <activity android:name=".SaleActivity" />
        <activity android:name=".StockReportActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DashBordActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>